* {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: blue;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

div {
  height: 200px;
  color: black;
}

a {
  color: red;
}


/* testes automatizados é importante ser unico*/
/* id unico */
/* ID # */
#paragrafo1 {
  font-weight: bold;
}

/* CLASS .*/
/* pode ser a mesma classe com aparencia semelhante */
.negrito {
      font-weight: bold;
}

/* seletor */
/* elemento logo em seguida do elemento */
/* apenas o ultimo */
p + a {
    font-weight: bold;
    color:blueviolet;
}

/*seletor irmão */
/* qualquer link depois do paragrafo*/
p ~ a {
    font-weight: bold;
    color:cadetblue;
}

/* seletor filho*/
p > a {
    font-weight: bold;
    color:chartreuse;
}

/* seletor descentente */
/* todos links dentro da div*/
div a {
    font-weight: bold;
    color:coral;
}

/* organizar css sempre com class */ 
